<aside class="flow">
    <h2 class="accent-color">New</h2>
    <ul role="list" class="separated-list">
        <li>
            <article class="flow">
                <h3><a href="#">Article 1</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </article>
        </li>
        <li>
            <article class="flow">
                <h3>Article 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </article>
        </li>
        <li>
            <article class="flow">
                <h3>Article 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </article>
        </li>
    </ul>
</aside>

<style lang="scss">
    aside {
        --clr-heading: var(--clr-neutral-100);
        --clr-body: var(--clr-neutral-200);
        --clr-accent-400: var(--clr-yellow);

        padding: 2rem;
        background-color: var(--clr-neutral-900);

        p {
            color: var(--clr-body);
        }
    }

</style>